[Unit]
Description=main service
BindsTo=sidekick@%i

[Service]
ExecStartPre=/usr/bin/echo "main@%i ExecStartPre"
ExecStartPre=/usr/bin/echo "main@%i ExecStart"
ExecStartPost=/usr/bin/echo "main@%i ExecStartPost"
ExecStop=/usr/bin/echo "main@%i ExecStartPost"

[Install]
WantedBy=multi-user.target

[X-Fleet]
