[Unit]
Description=main service
Wants=sidekick@%i.service

[Service]
ExecStartPre=/usr/bin/echo "main@%i ExecStartPre"
ExecStart=/usr/bin/echo "main@%i ExecStart"
ExecStartPost=/usr/bin/echo "main@%i ExecStartPost"
ExecStop=/usr/bin/echo "main@%i ExecStartPost"

[Install]
WantedBy=multi-user.target

[X-Fleet]
