[Unit]
Description=main sidekick service
Before=main@%i

[Service]
ExecStartPre=/usr/bin/echo "sidekick@%i ExecStartPre"
ExecStart=/bin/bash -c "\
  echo sidekick@%i ExecStart; \
  echo waiting 10s; \
  sleep 10; \
  echo 10s done; \
"
ExecStartPost=/usr/bin/echo "sidekick@%i ExecStartPost"
ExecStop=/usr/bin/echo "sidekick@%i ExecStartPost"

[Install]
WantedBy=multi-user.target

[X-Fleet]
